body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #BBE994;
    padding: 0;
    margin: 0;
}

header {
    color: black;
    background-color: #93C36A;
    text-align: center;
    padding: 20px;

}

p {
    font-size: 1.3rem;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
  

}

.tag {
    width: 30%;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0 ,0.1);
    overflow: hidden;
    margin: 20px auto;
    transition: box-shadow 0.3s ease-in-out;
}
.tag:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.tag img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.tag a{
    text-decoration: none;
    color: indianred;
}

.tag-conte {
    padding: 20px;
    background-color: white;
}

.tag-titulo {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    
}

.tag-descip {
    font-size: 16px;
    color: grey;
    text-align: center;
}
.btn-blue {
    display: inline-block;
    padding: 10px 20px;
    background-color: #033ead;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.barra {
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .barra h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .barra ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  .barra li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .barra a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
  }
  
  .barra a:hover {
    color: #93c36a;
  }